<div class="bg-light o_footer ">
    <section class="ks_waves"></section>
<section class="footer-up pb-5">
<div class="container">
    <div class="row pl-3 mb-4">
        <img src="../../../assets/img/Logo.png" alt="Ksolves Store" class="company_logo"/>
    </div>
    <div class="row">
        <div class="col-md-5 col-lg-3 mb-3 mb-md-0">
            <address class="mb0" itemscope="itemscope" itemtype="http://schema.org/Organization">
                <div itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <span itemprop="streetAddress">
                            Third Floor, B-4 Office No 301, B Block Rd,
                            Sector 63,
                            Noida
                            Uttar Pradesh
                            201301,
                            India
                        </span>
                    </div>
                </div>
            </address>
            <ul>
                <li class="mt-4 mb-2 d-flex">
                    <span>
                        <img src="../../../assets/img/call.png" alt="Call Us" class="mr-2"/>
                    </span>
                    <a href="tel:+1(646)-203-1075" class="text-gray mr-2">
                        <span>+1(646)-203-1075</span>,
                    </a>
                    <a href="tel:+91 8130704295">
                        <span>+91 8130704295</span>
                    </a>
                </li>

                <li class="d-flex">
                    <span class="mr-2">
                        <img src="../../../assets/img/mail.png" alt="Email"/>
                    </span>
                    <a href="mailto:sales@ksolves.com">
                        sales@ksolves.com
                    </a>
                </li>

                <li class="mt-4 mb-2">Follow Us</li>
                <li>
                    <ul class="list-unstyled mb-0 social-links">
                        <li>
                            <a target="_blank" href="https://www.facebook.com/Ksolves.Store/">
                                <img src="../../../assets/img/fb.png" alt="Facebook"/>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://twitter.com/ksolveso?lang=en">
                                <img src="../../../assets/img/twitter.png" alt="Twitter"/>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.instagram.com/_ksolves/">
                                <img src="../../../assets/img/insta.png" alt="Instagram"/>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.youtube.com/channel/UCplv9V47g9VidekGN6Wp1ew">
                                <img src="../../../assets/img/yt.png" alt="Youtube"/>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.linkedin.com/showcase/ksolves-odoo-store/">
                                <span class="fa fa-linkedin fa-2x"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-6 col-md-3 mb-3 mb-md-0">
            <ul>
                <li>
                    <a href="/about-us" target="_blank">About Us</a>
                </li>
                <li>
                    <a href="/testimonials" target="_blank">Testimonials</a>
                </li>
                <li>
                    <a href="/success-stories" target="_blank">Success Stories</a>
                </li>
                <li>
                    <a href="/press" target="_blank">In the Press</a>
                </li>
                <li>
                    <a href="/our-culture" target="_blank">Culture</a>
                </li>
                <li>
                    <a href="/blog" target="_blank">Blog</a>
                </li>
                <li>
                    <a href="/sitemap" target="_blank">Sitemap</a>
                </li>
            </ul>
        </div>

        <div class="col-6 col-md-3 mb-3 mb-md-0">
            <ul>
                <li>
                    <a href="/refund-policy" target="_blank">Refund Policy</a>
                </li>
                 <li>
                    <a href="/customization-policy" target="_blank">Customization
                        Policy
                    </a>
                </li>
                <li>
                    <a href="/support-and-maintenance" target="_blank">Odoo Support
                        &
                        Maintenance
                    </a>
                </li>
                 <li>
                    <a href="/licence-agreement" target="_blank">License Agreement</a>
                </li>
                <li>
                    <a href="/terms-and-policies" target="_blank">Terms & Policies
                    </a>
                </li>
                 <li>
                    <a href="/cookies-policy" target="_blank">Cookies Policy</a>
                 </li>

            </ul>
        </div>
        <div class="col-md-3">
            <ul>
                <li>
                    <a href="/contact-us" target="_blank">Contact Us</a>
                </li>
                <li>
                    <a href="/ticket-request" target="_blank">Raise Your Ticket</a>
                </li>
                <li>
                    <a href="/request-a-quote" target="_blank">Request a Quote</a>
                </li>
                <li>
                    <a href="/submit-idea" target="_blank">Submit Your Ideas</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</section>
<section class="footer-down bg-black py-5">
<div class="container">
    <h3 class="color-c6 font-weight-bold">Our Prowess</h3>
    <div class="row">
        <div class="col-md-6 color-c6">
            E-commerce, Odoo Apps, Odoo Themes, Odoo Development, Odoo Integrations, Odoo Consultation,
            Point of Sale (POS), Odoo Support, & Odoo Implementation
        </div>
        <div class="col-md-6 mt-xs-2">
            <div class="row no-gutters float-md-right payment-card">
                <div class="card">
                    <img src="../../../assets/img/visa.png" alt="Visa"/>
                </div>
                <div class="card mx-1">
                    <img src="../../../assets/img/master-card.png" alt="Master Card"/>
                </div>
                <div class="card">
                    <img src="../../../assets/img/paypal.png" alt="Paypal"/>
                </div>
                <div class="card mx-1">
                    <img src="../../../assets/img/amazon_pay.png" class="lazyload" alt="Amazon Pay"/>
                </div>
                <div class="card">
                    <img src="../../../assets/img/amex.png" alt="Amex"/>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section class="copyright py-2">
Copyright © 2020-2021 Ksolves India Ltd. All Rights Reserved.
</section>
<nav class="footer-panel d-lg-none">
<ul class="d-flex mb-0 p-0">
    <li class="w-50 text-center">
        <a data-toggle="collapse" data-target="#sortby" class="p-3 d-block"><img alt="Sort" src="/ks_website_theme/static/src/images/footer/sort-icon.svg"/> Sort by</a>
    </li>
    <li class="w-50 text-center">
        <a data-toggle="collapse" data-target="#datafilter" class="p-3 d-block"><img alt="Filter" src="/ks_website_theme/static/src/images/footer/filter-icon.svg"/> Filter</a>
    </li>
</ul>
</nav>
</div>