
<header class=" o_affix_enabled ks-header oe_website_sale">
           <div id="phone-section" class="d-none d-sm-block">
            <div class="container px-2 pr-md-4">
                <div class="row">
                    <div class="col-md-8 col-8">
                        <div class="d-flex justify-content-start py-2 flex-wrap">
                            <div class="d-flex align-items-center font-10">
                                <img class="mr-2 model-contact-icon" src="../../../assets/img/phone-icon.svg" alt="Phone"/>
                                <a class="text-white" href="tel:+1(646)-203-1075">
                                    <span>+1(646)-203-1075</span>
                                </a>
                            </div>
                            <div class="d-flex align-items-center font-10 mx-sm-3">
                                <img class="whats-app-icon model-contact-icon mr-2 lazyloaded" src="../../../assets/img/whatsapp.svg" alt="Whatsapp"/>
                                <a class="text-white" href="https://api.whatsapp.com/send?phone=None">
                                    <span>+91 8130704295</span>
                                </a>
                            </div>
                            <div class="d-flex align-items-center font-10">
                                <img class="mr-2 model-contact-icon" src="../../../assets/img/mail-icon.svg" alt="Mail"/>
                                <a class="text-white" href="mailto:sales@ksolves.com">
                                    <span>sales@ksolves.com</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-4">
                        <div class="d-flex justify-content-end py-2 flex-wrap">
                            
                            
                                <li class="nav-item ks-price-list d-none d-lg-block">
                                    
                                        
                                        <a rel="noindex,nofollow" href="#" class="dropdown-toggle nav-link ks_pl_drpdwn" data-toggle="dropdown">
                                            <span class="font-18">
                                                ₹
                                            </span>
                                            INR
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a rel="noindex,nofollow" class="dropdown-item" href="/shop/change_pricelist/2">
                                                    <span class="font-18">
                                                        $
                                                    </span>
                                                    <span class="switcher_pricelist" data-pl_id="2"> USD</span>
                                                </a>
                                            </li><li>
                                                <a rel="noindex,nofollow" class="dropdown-item" href="/shop/change_pricelist/1">
                                                    <span class="font-18">
                                                        €
                                                    </span>
                                                    <span class="switcher_pricelist" data-pl_id="1"> EUR</span>
                                                </a>
                                            </li><li>
                                                <a rel="noindex,nofollow" class="dropdown-item" href="/shop/change_pricelist/3">
                                                    <span class="font-18">
                                                        ₹
                                                    </span>
                                                    <span class="switcher_pricelist" data-pl_id="3"> INR</span>
                                                </a>
                                            </li>
                                        </ul>
                                    
                                </li>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="d-block d-lg-none">
                <a href="#" class="btn-back">
                    <img src="../../../assets/img/back-icon.svg" alt="Back icon"/>
                </a>
            </div>
                <a href="/" class="navbar-brand logo mr-auto">
                    <img src="../../../assets/img/Logo.png" alt="Ksolves Store" class="company_logo"/>
                </a>
             <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#top_menu_collapse" id="header-btn">
                             <span class="navbar-toggler-icon"></span>
                 </button>
                         <div class="collapse navbar-collapse" id="top_menu_collapse">
                             <ul class="nav navbar-nav mx-auto text-right" id="top_menu">
                                 
                                <li class="nav-item divider d-none"></li> 
                                
                                    <li id="menu-catgry" class="ks_top_menu_categories nav-item">
                                        
                                          
                                                <a role="menuitem" class="nav-link" href="/festive_sale">
                                                    <span data-oe-model="website.menu">
                                                        Festive Sale
                                                    </span>
                                                </a>
                                            </li>
                                        
                                 
         
                      <li id="menu-catgry" class="ks_top_menu_categories nav-item">
                 
                        <div class="dropdown ks-menu-link">
                            <a role="menuitem" id="dropdownMenuButton" class="nav-link dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Odoo
                            </a>
                            <div class="dropdown-menu ks-menu" aria-labelledby="dropdownMenuButton">
                                <div class="dropdown-content">
                                 
                                     
                                         
                                             <a class="dropdown-item" href="/shop/odoo-apps">
                                                 <span>All</span>
                                             </a>
                                         
                                     
                                 
                                     
                                         
                                             
                                                 <a class="dropdown-item" href="/shop/odoo-apps/category/odoo-accounting-14">
                                                     <span>Accounting</span>
                                                 </a>
                                             
                                                 <a class="dropdown-item" href="/shop/odoo-apps/category/odoo-crm-26">
                                                     <span>CRM</span>
                                                 </a>
                                                 <a class="dropdown-item" href="/shop/odoo-apps/category/odoo-inventory-27">
                                                     <span>Inventory</span>
                                                 </a>
                                             
                                                 <a class="dropdown-item" href="/shop/odoo-apps/category/odoo-point-of-sale-16">
                                                     <span>Point Of Sale</span>
                                                 </a>
                                             
                                                 <a class="dropdown-item" href="/shop/odoo-apps/category/odoo-sales-11">
                                                     <span>Sales</span>
                                                 </a>
                                             
                                                 <a class="dropdown-item" href="/shop/odoo-apps/category/odoo-sales-management-18">
                                                     <span>Sales Management</span>
                                                 </a>
                                             
                                                 <a class="dropdown-item" href="/shop/odoo-apps/category/odoo-tools-8">
                                                     <span>Tools</span>
                                                 </a>
                                             
                                             
                                                 <a class="dropdown-item" href="/shop/odoo-apps/category/odoo-warehouse-20">
                                                     <span>Warehouse</span>
                                                 </a>
                                             
                                                 <a class="dropdown-item" href="/shop/odoo-apps/category/odoo-website-10">
                                                     <span>Website</span>
                                                 </a>
                                             
                                             
                                                 <a class="dropdown-item" href="/shop/odoo-apps/category/odoo-migration-56">
                                                     <span>Migration</span>
                                                 </a>
                                 
                             </div>
                         </div>
                     </div>
                 
                      </li>
         
                        <li id="menu-catgry" class="ks_top_menu_categories nav-item">
                            
                                <div class="dropdown ks-menu-link">
                                    <a role="menuitem" id="dropdownMenuButton" class="nav-link dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Magento
                                    </a>
                                    <div class="dropdown-menu ks-menu" aria-labelledby="dropdownMenuButton">
                                        <div class="dropdown-content">
                                            
                                                
                                                    
                                                        
                                                            <a class="dropdown-item" href="/shop/magento-apps/category/magento-ecommerce-38">
                                                                <span>Ecommerce</span>
                                                            </a>
                                                        
                                                    
                                                
                                            
                                                
                                                    
                                                        
                                                            <a class="dropdown-item" href="/shop/magento-apps/category/magento-sales-37">
                                                                <span>Sales</span>
                                                            </a>
                                                        
                                                    
                                                
                                            
                                                
                                                    
                                                        <a class="dropdown-item" href="/shop/magento-apps">
                                                            <span>All</span>
                                                        </a>
                                                    
                                                
                                            
                                        </div>
                                    </div>
                                </div>
                            
                        </li>
         
         
         
                        <li id="ks_mega_menu" class="nav-item">
                            
                                <a role="menuitem" class="nav-link" href="/shop/odoo-themes">
                                    <span>Themes</span>
                                </a>
                            
                            
                        </li>
         
                            <li id="my_contact" class="nav-item">
                                <a role="menuitem" href="/contact-us" class="nav-link">
                                    <span data-oe-model="website.menu">Contact Us</span>
                                </a>
                            </li>
                            <li id="menu-catgry" class="ks_top_menu_categories nav-item">
                                <div class="dropdown ks-menu-link">
                                    <a role="menuitem" id="dropdownMenuButton" class="nav-link dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Misc
                                    </a>
                                    <div class="dropdown-menu ks-menu" aria-labelledby="dropdownMenuButton">
                                        <div class="dropdown-content">
                                            <a role="menuitem" href="/about-us" class="dropdown-item">
                                                <span data-oe-model="website.menu">About Us</span>
                                            </a>
                                            <a role="menuitem" href="/blog" class="dropdown-item">
                                                <span data-oe-model="website.menu">Blog</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li id="my_cart"></li>
                        
                            <li class="nav-item divider"></li>
                                <li class="nav-item">
                             </li>
    </ul>
</div>
         <ul class="nav navbar-nav ml-auto text-right d-flex ks-right-nav ks_right" id="top_menu">
             <li class="ks-search-bar dropdown ">
                 <button type="button" class="btn btn-search" data-toggle="dropdown">
                    <img src="../../../assets/img/search-icon.svg" alt="search"/>
                 </button>
                 <div class="dropdown-menu ks_search_box">
                     <form action="/shop" method="get" class="o_website_sale_search" id="ks_header_search">
                         <div class="input-group rounded-pill">
                             <input type="text" id="ks_search_input" name="search" class="search-query oe_search_box form-control bg-none border-0" placeholder="Searching..." required="True" value=""/>
                             <button type="submit" id="ks_search_btn" class="btn btn-link oe_search_button o_website_sale_search">
                                 <i class="fa fa-search nav__search_icon hydrated " id="search-btn"></i>
                             </button>
                             <button id="button-addon3 ks_search_btn" type="button" class="btn btn-link ks_search_btn_close">
                                 <i class="fa fa-close"></i>
                             </button>
                         </div>
                     </form>
                 </div>
             </li>
             <li id="my_cart" class="nav-item">
                 <a rel="noindex,nofollow" href="/shop/cart" class="nav-link">
                     <img src="/../../../assets/img/cart-icon.svg" alt="Cart"/>
                     <sup class="my_cart_quantity badge badge-primary ks-badge" data-order-id=""></sup>
                 </a>
             </li>
             <li id="my_wish" class="nav-item d-none d-lg-block">
                 <a rel="noindex,nofollow" href="/shop/wishlist" class="nav-link">
                     <img src="/../../../assets/img/favorite_icon.svg" alt="Wishlist"/>
                        <sup class="my_wish_quantity o_animate_blink badge badge-primary ks-badge">
                         0
                     </sup>
                 </a>
             </li>
             <li class="nav-item d-none d-lg-block">
                 <a class="nav-link" href="/web/login">
                    <img src="/../../../assets/img/bi_person.svg" alt="bi_person"/>
                 </a>
             </li>
             
             <li id="mobile-dots" class="nav-item d-lg-none user-admin-nav mobile-dots">
                 <div id="useradmin" class="ks-useradmin collapse">
                     <ul class="nav flex-column">
                       <li class="nav-item">
                         <a class="nav-link px-4 py-3" href="/web/login">Log In</a>
                       </li>

                       <li id="my_wish" class="nav-item">
                         <a class="nav-link px-4 py-3" rel="noindex,nofollow" href="/shop/wishlist">Wishlist
                             <span class="my_wish_quantity badge badge-primary">
                                 0
                             </span>
                         </a>
                       </li>
                       
                       
                         <li class="nav-item ks-price-list ">
                             
                                 
                                 <a rel="noindex,nofollow" href="#" class="dropdown-toggle nav-link px-4" data-toggle="dropdown">
                                     <span class="font-18">
                                         ₹
                                     </span>
                                     INR
                                 </a>
                                 <ul class="dropdown-menu" role="menu">
                                     <li>
                                         <a rel="noindex,nofollow" class="dropdown-item" href="/shop/change_pricelist/2">
                                             <span class="font-18">
                                                 $
                                             </span>
                                             <span class="switcher_pricelist" data-pl_id="2"> USD</span>
                                         </a>
                                     </li><li>
                                         <a rel="noindex,nofollow" class="dropdown-item" href="/shop/change_pricelist/1">
                                             <span class="font-18">
                                                 €
                                             </span>
                                             <span class="switcher_pricelist" data-pl_id="1"> EUR</span>
                                         </a>
                                     </li><li>
                                         <a rel="noindex,nofollow" class="dropdown-item" href="/shop/change_pricelist/3">
                                             <span class="font-18">
                                                 ₹
                                             </span>
                                             <span class="switcher_pricelist" data-pl_id="3"> INR</span>
                                         </a>
                                     </li>
                                 </ul>
                             
                         </li>
                       
                       <li class="nav-item">
                         <a class="nav-link px-4 py-3" href="/contact-us">Need Help</a>
                       </li>
                     </ul>
                 </div>
                 <button class="useradmin-toggler ml-3" data-toggle="collapse" data-target="#useradmin"></button>
                 <div class="overlay-nav" data-toggle="collapse" data-target="#useradmin"></div>
             </li>
         </ul>
     
        </div>
    </nav>
</header>

