<div id="wrapwrap" class="homepage   ">
    <div id="after_header_1" class="white-text text-center top top-inner-page  font-16 text-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row mx-0">
                        <div class="col-md-12 px-0 header_carousel_desktop">
                            <div class="row">
                                <div class="col-md-9 pr-md-3 nsc-text d-flex align-items-center aos-init aos-animate" data-aos="fade-up">

                                    <div class="header-ticker-outer d-flex align-items-center mr-0" data-oe-model="ir.ui.view" data-oe-id="5775" data-oe-field="arch" data-oe-xpath="/data/xpath[2]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]">
                                        <div class="d-flex align-items-center justify-content-center adobe-partner-icon">
                                            <img src="../../../assets/img/adobe.svg" alt="Adobe">
                                        </div>
                                    </div>   

                                    <div class="header-ticker-outer d-flex align-items-center" data-oe-model="ir.ui.view" data-oe-id="5775" data-oe-field="arch" data-oe-xpath="/data/xpath[2]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[2]">
                                        <div class="salesforce-partner-icon-2">
                                            <img src="../../../assets/img/salesforce-partner.svg" alt="SalesForce Partner">
                                        </div>
                                    </div>
                                    <div class="header-ticker-outer d-flex align-items-center" data-oe-model="ir.ui.view" data-oe-id="5775" data-oe-field="arch" data-oe-xpath="/data/xpath[2]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[3]">
                                        <div class="d-flex align-items-center ns-partner-icon">
                                            <img src="../../../assets/img/cmmi-level-3-logo.png" alt="cmmi logo">
                                        </div>
                                    </div>
                                    <div class="header-ticker-outer d-flex align-items-center">
                                        <div class="row">
                                            <div class="col-md-6 stock-info-inner">
                                                
                                                <div class="" data-oe-model="ir.ui.view" data-oe-id="5775" data-oe-field="arch" data-oe-xpath="/data/xpath[2]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[4]/div[1]/div[1]/div[1]">
                                                    <img src="../../../assets/img/nse_updated.svg" class="img-fluid" alt="NSE Update">
                                                </div>
                                            </div>
                                            <div class="col-md-6 pl-0 d-flex align-items-center">
                                                <div class="ks_share_price_div d-flex flex-column stock-info-inner">
                                                    <span class="ks_share_price text-secondary text-dark text-right" data-oe-model="ir.ui.view" data-oe-id="5775" data-oe-field="arch" data-oe-xpath="/data/xpath[2]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[4]/div[1]/div[2]/div[1]/span[1]">
                                                        Current Share Price
                                                    </span>
                                                    <div class="d-flex justify-content-end">
                                                        <span class="ks_share_value font-weight-bold ">
                                                            
                                                                ₹ 313.15
                                                            
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                     <div class="col-md-3 d-none d-lg-block pt-xl-3 pt-lg-2 pt-md-1 pl-md-5">
                                <div class="header-nsps">
                                    <div id="support_carousel_1" class="owl-carousel owl-theme owl-loaded owl-drag">

                                        
                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(-1050px, 0px, 0px); transition: all 0.25s ease 0s; width: 2100px;"><div class="owl-item cloned" style="width: 350px;"><div class="item" data-oe-model="ir.ui.view" data-oe-id="5775" data-oe-field="arch" data-oe-xpath="/data/xpath[2]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[2]/div[1]/div[1]/div[1]">
                                          
                                        </div></div>
                                        <div class="owl-item cloned" style="width: 350px;"><div class="item">
                                            <div class="d-flex align-items-center font-14 font-semibold text-left">
                                                <span class="nsp-image" data-oe-model="ir.ui.view" data-oe-id="5775" data-oe-field="arch" data-oe-xpath="/data/xpath[2]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[2]/div[1]/div[1]/div[2]/div[1]/span[1]">
                                                    <img data-src="../../../assets/img/free-support.png" class=" ls-is-cached lazyloaded" alt="Free support" src="../../../assets/img/free-support.png">
                                                </span>
                                                <span>
                                                    120
                                                    Days
                                                    <br data-oe-model="ir.ui.view" data-oe-id="5775" data-oe-field="arch" data-oe-xpath="/data/xpath[2]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[2]/div[1]/div[1]/div[2]/div[1]/span[2]/br[1]">
                                                    Free Support
                                                </span>
                                            </div>
                                        </div></div>
                                       
                                      
                                        <div class="owl-item cloned" style="width: 350px;"><div class="item" data-oe-model="ir.ui.view" data-oe-id="5775" data-oe-field="arch" data-oe-xpath="/data/xpath[2]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[2]/div[1]/div[1]/div[1]">
                                            <div class="d-flex align-items-center font-14 font-semibold  text-left">
                                                <span class="nsp-image">
                                                    <img src="../../../assets/img/support-date.png" alt="Support Time">
                                                </span>
                                                <span class="text-center">Mon - Fri
                                                    <span>From</span>
                                                    <strong class="small b-500 d-block">(10 AM - 10 PM) IST</strong>
                                                </span>
                                            </div>
                                        </div></div><div class="owl-item cloned" style="width: 350px;"><div class="item">
                                            <div class="d-flex align-items-center font-14 font-semibold text-left">
                                                <span class="nsp-image" data-oe-model="ir.ui.view" data-oe-id="5775" data-oe-field="arch" data-oe-xpath="/data/xpath[2]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[2]/div[1]/div[1]/div[2]/div[1]/span[1]">
                                                    <img data-src="../../../assets/img/free-support.png" class=" ls-is-cached lazyloaded" alt="Free support" src="../../../assets/img/free-support.png">
                                                </span>
                                                <span>
                                                    120
                                                    Days
                                                    <br data-oe-model="ir.ui.view" data-oe-id="5775" data-oe-field="arch" data-oe-xpath="/data/xpath[2]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[2]/div[1]/div[1]/div[2]/div[1]/span[2]/br[1]">
                                                    Free Support
                                                </span>
                                            </div>
                                        </div></div></div>
                                    </div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div></div>
                                </div>
                            </div>
                            </div>
                        </div>

                     
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="img-slider">
            <div class="slider-container">
                
                <div class="slide">
                    <img src="../../../assets/img/background_img(3)">
                </div>
                <div class="slide">
                <img src="../../../assets/img/background_img">
                </div>
                
                <div class="slide">
                <img src="../../../assets/img/background_img(2)">
                </div>

               
                
            </div>
        </div> 

        
</div>
<div class="features grey-bg py-lg-4">
    <div class="w-xs-100 list-unstyled d-flex justify-content-lg-center align-items-center m-0 flex-wrap">
        <ul id="owl-features" class="owl-carousel list-unstyled d-flex justify-content-lg-center m-0 flex-wrap flex-lg-nowrap">
            <li class="item my-xs-1 d-flex p-3 mx-3 align-items-center support-time font-16 b-500 text-left aos-init aos-animate" data-aos="fade-right" data-aos-duration="1200" data-oe-model="ir.ui.view" data-oe-id="5736" data-oe-field="arch" data-oe-xpath="/t[1]/div[1]/div[1]/ul[1]/li[1]">
                <img src="../../../assets/img/support-date.png" alt="Support Time">
                <span class="text-center"> Mon - Fri <br><div>From </div>
                <strong class="small d-block">(10 AM - 10 PM) IST </strong> </span>
            </li>
            <li class="item my-xs-1 d-flex p-3 mx-3 align-items-center font-16 b-500 text-left aos-init aos-animate" data-aos="fade-down" data-aos-duration="1200">
                <img data-src="../../../assets/img/free-support.png" class=" ls-is-cached lazyloaded" alt="Free Support" data-oe-model="ir.ui.view" data-oe-id="5736" data-oe-field="arch" data-oe-xpath="/t[1]/div[1]/div[1]/ul[1]/li[2]/img[1]" src="../../../assets/img/free-support.png">
                <span>120 Days
                    <br data-oe-model="ir.ui.view" data-oe-id="5736" data-oe-field="arch" data-oe-xpath="/t[1]/div[1]/div[1]/ul[1]/li[2]/span[1]/br[1]">
                    Free Support
                </span>
            </li>
            <li class="item my-xs-1 d-flex p-3 mx-3 align-items-center font-16 b-500 text-left aos-init aos-animate" data-aos="fade-right" data-aos-duration="1200" data-oe-model="ir.ui.view" data-oe-id="5736" data-oe-field="arch" data-oe-xpath="/t[1]/div[1]/div[1]/ul[1]/li[3]">
                <img data-src="../../../assets/img/nascom.svg" class=" lazyloaded" alt="Nasscom" src="../../../assets/img/nascom.svg">
                <span>Nasscom<br>Member
                </span>
            </li>
</ul>
    </div>
</div>



<div class="top-theme-apps pt-4 pb-5 pt-md-5 aos-init aos-animate" >
    <div class="container-fluid">
       <div class="row">
           <div class="col-md-12 position-relative">
               <div class="d-flex justify-content-between container">
                   <h1 class="section-title light white-text mt-3 mb-4 mb-md-5">Top 10 Apps and Themes</h1>
               </div>
            </div>
        </div>
    </div>
</div>
            

<!-- Dashboard -->

<div class="apps-section">
    <div class="container-fluid aos-init" style="background-color: black;">
    <div class="row">
        <div class="col-lg-6 ml-auto px-0">
            <div class="d-flex w-100 align-items-center justify-content-center px-lg-5 p-3">
                <h2 class="section-title white-text mb-0 aos-init" >Apps</h2>
                <a href="https://store.ksolves.com/shop/odoo-apps" class="font-20 yellow-text ml-auto ml-lg-5 btn-view aos-init">View All <span class="d-none d-lg-inline">Apps</span>
                    <span>
                        <img src="../../../assets/img/chevron-right-yellow.png" alt="Chevron Right Yellow Icon">
                    </span>
                </a>
            </div>
        </div>
         </div>
     </div>
     <div class="apps-slider-section text-center" style="background-image: url('../../../assets/img/backg12.jpeg');">
        <hr class="light-bg m-0">
        <div class="slider-title text-center my-3 bold" >Dashboard Ninja</div>
        <div class="slider-desc col-12 col-md-5 mx-auto text-center white-text">Create beautiful, customized and
            robust
            dashboards
            for your different departments
        </div>
         <button id="ks_buy_now" class="btn btn-primary py-3 mb-3 mb-lg-0 home_cart_button product_detail_cart font-16 aos-init">
              <input name="product_id" type="hidden" value="113">  Buy Now</button>

        <div class="d-lg-flex justify-content-lg-between justify-content-center align-items-center grphSec">
            <div class="col-sm-4 d-none d-md-inline">
                <div class="text-center my-5 aos-init">
                    <img class="img-fluid lazyload" src="../../../assets/img/bar-char.png" alt="Dashboard Ninja Bar Chart">
                </div>
            </div>

            <div class="col-sm-4 mx-auto">
                <div class="text-center my-sm-5 aos-init">
                    <img class="img-fluid lazyloaded" src="../../../assets/img/pie-chart.png" alt="Dashboard Ninja Pie Chart">
                </div>
            </div>

            <div class="col-sm-4 d-none d-md-inline">
                <div class="text-center my-5 aos-init" >
                    <img class="img-fluid lazyload" src="../../../assets/img/line-chart.webp" alt="Dashboard Ninja Line Chart">
                </div>
            </div>
        </div>
    
     </div>
     
     
</div>
<div class="app-mobile-section position-relative d-none d-lg-block">
    <div class="row no-gutters mt-n1">
        <div class="col-12 col-lg no-gutters position-relative app-mobile d-flex align-items-lg-center align-items-lg-end justify-content-start pl-lg-5 pt-5 pt-lg-0" style="background-image: url('../../../assets/img/110x110(2)');">
            <a href="https://store.ksolves.com/shop/odoo-apps" class="text-white font-18 mr-auto txtLeft aos-init" >View All the Feature-rich<br> Apps from Number<br> One Odoo Company</a>
        </div>
        <div class="d-lg-flex justify-content-center align-items-end position-absolute mobiles">
        <img  src="../../../assets/img/ksolves_theme_mobile.webp" class="d-lg-none d-block m-auto d-md-block lazyload aos-init aos-animate" alt="Ksolves Theme Mobile view">
        <img  src="../../../assets/img/left.webp" alt="Dashboard Ninja Mobile view" class="d-none d-lg-block lazyload aos-init">
        <img  src="../../../assets/img/new-center.webp" alt="Ksolves Theme Mobile view" class="d-none d-lg-block lazyload aos-init">
        <img  src="../../../assets/img/right.webp" alt="ksolves Theme Kinetik Mobile view" class="d-none d-lg-block lazyload aos-init">
    </div>
        <div class="col-12 col-lg no-gutters position-relative theme-mobile d-flex align-items-lg-center align-items-end justify-content-end pr-lg-5 pb-5 pb-lg-0" style="background-image: url('../../../assets/img/110x110'); ">
            <a href="https://store.ksolves.com/shop/odoo-themes" class="text-white font-18 ml-auto txtRight aos-init" data-aos="fade-right" data-aos-duration="1400">View All the Attractive,<br> Fully-customizable Themes <br>from Number One<br> Odoo Company</a>
        </div>
    </div>
</div>



<div class="suggested-section light-bg ">
    <div class="container pb-4 pb-md-5">
        <div class="row mx-md-0">
            <div class="col-md-12 px-md-0" >
                <h2 class="section-title light my-4 my-lg-5 aos-init">Suggested Apps and
                    Themes
                </h2>

                <div id="owl-recommend-apps" class="owl-carousel col-12 pr-0 d-lg-none owl-loaded owl-drag" style=""></div>
            </div>
        </div>
    </div>
</div>





<div class="why-ksolves py-5 d-none d-lg-block" >
    <div class="container my-5">
        <div class="font-40 bold white-text d-block text-center d-lg-none mb-4">Why Choose <br>Ksolves?</div>
        <div class="why-choose-ksolves d-md-flex align-items-center justify-content-center">
                <div class="choose-ksolves-listing mr-lg-auto">
                        <ul class="list-unstyled text-right" id="ks-listing">
                        <li class="white-text font-18 mb-3" >
                            <span>ERP Migration , ERP Implementation,<br>
and ERP Development Services</span>
                        </li>
                        <li class="white-text font-18" >
                            <span>Solutions as Per your Business <br>
Needs and Workflow Patterns</span>
                        </li>
                        <li class="white-text font-18" >
                            <span>Comprehensive App Features That Help in <br>
Boosting The Business Productivity</span>
                        </li>
                            <li class="blank-li"></li>
                        <li class="white-text font-18" >
                            <span>90 Days Free Support and <br> Maintenance Services</span>
                        </li>
                            <li class="blank-li"></li>

                        <li class="white-text font-18">
                            <span>60 minutes Refund Policy With No <br> Questions Asked for 365 Days</span>
                        </li>
                        <li class="white-text font-18">
                            <span>Powerful and Easy-to-use <br> Apps/Themes</span>
                        </li>
                        <li class="white-text font-18">
                            <span>User-Friendly <br>Interface</span>
                        </li>
                    </ul>
                </div>
            <div class="ks-sm-logo  ">
                <img src="../../../assets/img/kstore_icon.png" alt="Ksolves Store">
            </div>
            <div class="font-40 bold white-text d-none d-lg-block aos-init" data-aos="fade-right" data-aos-duration="3000">Why Choose <br>Ksolves?</div>
        </div>
    </div>
</div>


<section class="lets-talk aos-init" >
    <div class="position-relative">
        <img class="ks_reach_banner lazyload" src="../../../assets/img/talk.jpg" >
        <div class="lets-talk-content">
            <div class="container">
                <div class="row" id="lets-talk-content" [hidden]="contactDivactive">
                    <div class="col-lg-9 col-md-12 m-auto text-center">
                        <h3 class="primary-text bold font-40 aos-init">Reach out to Us!</h3>
                        <p class="white-text my-4 my-md-5 aos-init" >Armed with a talented team of 250+ Odoo Developers, we’re fully-equipped to turn any idea into a reality. So, if you have a business need or idea that you have been dwelling on for a long time, please feel free to book a session with our Odoo experts.</p>
                        <button id="open-contact-form" class="btn btn-primary mb-4 aos-init" (click)="activeform()">Contact Us</button>
                    </div>
                </div>
                <div class="row justify-content-center" id="lets-talk-form" [hidden]="!contactDivactive">
                    <div class="col-lg-4 col-md-12"   data-oe-xpath="/data/xpath/div/section[1]/div[1]/div[1]/div[1]/div[2]/div[1]">
                        <div class="d-flex align-items-start justify-content-centernn align-items-center h-100">
                            <div class="lets-talk-icon">
                                <img src="../../../assets/img/lets-talk.png" alt="Contact Us Let&#39;s talk">
                            </div>
                            <div class="ml-5">
                                <h3 class="font-weight-normal font-40 mb-4 aos-init aos-animate"  data-aos-duration="1400">Let's Talk
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 aos-init aos-animate" >
                        <form action="https://store.ksolves.com/website_form/" method="post" data-model_name="crm.lead" data-success_page="/form-thank-you" class="s_website_form container-fluid w-100" enctype="multipart/form-data" data-editable-form="false">
                            <span id="o_website_form_result"   data-oe-xpath="/data/xpath/div/section[1]/div[1]/div[1]/div[1]/div[2]/div[2]/form[1]/span[1]"></span>
                            <div class="row">
                            <div class="col-md-6">
                              <div>
                                <fieldset>
                                  <legend class="text-white px-2 mb-0">Name</legend>
                                  <input class=" o_website_form_input w-100 border-0 pl-3 pr-2 my-1 is-valid" type="text" placeholder="Name" name="name" required="required"    value="">
                                </fieldset>
                              </div>
                              <div>
                                <fieldset class="my-4  aos-animate" >
                                  <legend class="text-white px-2 mb-0" >Mobile</legend>
                                  <input class=" o_website_form_input w-100 border-0 pl-3 pr-2 my-1 is-valid" type="phone" placeholder="xxxxxxxxxx" name="phone" required="required" value="">
                                </fieldset>
                              </div>
                              <div>
                                <fieldset>
                                  <legend class="text-white px-2 mb-0"  >Email</legend>
                                  <input class=" o_website_form_input w-100 border-0 pl-3 pr-2 my-1 is-valid" type="email" placeholder="xxx@y.com" name="email_from" required="required"   data-oe-xpath="/data/xpath/div/section[1]/div[1]/div[1]/div[1]/div[2]/div[2]/form[1]/div[1]/div[1]/div[3]/fieldset[1]/input[1]" value="">
                                </fieldset>
                              </div>
                            </div>
                            <div class="col-md-6"   data-oe-xpath="/data/xpath/div/section[1]/div[1]/div[1]/div[1]/div[2]/div[2]/form[1]/div[1]/div[2]">
                              <fieldset class="mb-4  aos-animate" >
                                <legend class="text-white px-2">Message</legend>
                                <textarea class="o_website_form_input w-100 border-0 pl-3 pr-2" type="text" placeholder="Hi, need..." name="description" required="required"></textarea>
                              </fieldset>
                              <div class="form-group text-right  aos-animate" >
                                <a href="https://store.ksolves.com/#" role="button" class="btn bg-red color-white font-16 b-500 mt-3 o_website_form_send">
                                  Submit
                                </a>
                              </div>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Testimonials -->
<div class="container px-0 pt-4 py-lg-5 d-none d-lg-block"   data-oe-xpath="/data/xpath/div/div[9]">
    <div class="d-flex w-100 px-3">
        <h3 class="text-center text-dark font-weight-normal section-title mb-4 mb-lg-5 aos-init aos-animate" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">Testimonials
        </h3>
        <a href="https://store.ksolves.com/testimonials" target="_blank" class="btn-view ml-auto d-lg-none ">View All</a>
    </div>
    <div class="test pl-3 testHome">
        <ul class="m-0 list-unstyled d-lg-flex justify-content-between mb-0">
            <li class="mb-0 yellow-card">
                <div class="testimonials-card">
                    <div class="testimonials-card-inner">
                        <div class="testimonials-card-front bg-orange">
                            <div class="photo-container mt-5">
                                <img src="../../../assets/img/David_Ogles.jpg" class="lazyload" alt="David Ogles">
                            </div>
                            <div class="testimonials-card-text">
                                <p class="permanent">
                                    Ksolves has been an invaluable partner to our business. Their product expertise coupled with an unwavering commitment to customer service has enabled our company to introduce new functionality to our customer base with zero issues. Their responsiveness to any question or request that we have presented ensures that our partnership will continue to grow. I highly recommend Ksolves and their products to any customer!
                                </p>
                            </div>
                            <h3 class="title mt-4 mb-3 text-center">David Ogles</h3>
                            <p class="category text-center">President</p>
                            <p class="category text-center">Digitech Services Inc.</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="pink-card">
                <div class="testimonials-card">
                    <div class="testimonials-card-inner">
                        <div class="testimonials-card-front bg-red">
                            <div class="photo-container mt-5">
                                 <img src="../../../assets/img/Mahmoud_Ali.jpg" class="lazyload" alt="Mahmoud Ali">
                            </div>
                            <div class="testimonials-card-text">
                               <p class="permanent">
                                    It’s such a great team, very qualified and professional, it was a pleasure dealing with them.
                                    We deal with them in more than one difficult and complex task, and they are responsible and professional to finish it on time and with a high quality.
                               </p>
                            </div>
                            <h3 class="title mt-4 mb-3 text-center">Mahmoud Ali</h3>
                            <p class="category text-center">
                                Application manager
                            </p>
                            <p class="category text-center">
                                MEGA TRUST GROUP
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="">
                <div class="testimonials-card">
                    <div class="testimonials-card-inner">
                        <div class="testimonials-card-front bg-blue">
                            <div class="photo-container mt-5">
                                 <img src="../../../assets/img/William_Cazara.jpg" class="lazyload" alt="William Cazara">
                            </div>
                            <div class="testimonials-card-text">
                                <p class="permanent">
                                    We have been working with Ksolves on several development projects. Their expertise and professionalism were evident throughout the development cycle of our projects, and we were very pleased with the final results. They have shown enormous skill and vast domain knowledge and their experts are reliable and trustworthy. We would recommend Ksolves to anyone looking for quality IT development, delivered professionally.
                                </p>
                            </div>
                            <h3 class="title mt-4 mb-3 text-center">William Cazara</h3>
                            <p class="category text-center">
                                Head of IT Operations
                            </p>
                            <p class="category text-center">
                                S.J. GRAND
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="pink-card">
                <div class="testimonials-card">
                    <div class="testimonials-card-inner">
                        <div class="testimonials-card-front bg-red">
                            <div class="photo-container mt-5">
                                 <img src="../../../assets/img/Herbert_Riener.jpg" class="lazyload" alt="Herbert Riener">
                            </div>
                            <div class="testimonials-card-text">
                                <p class="permanent">
                                    We already bought different modules and are really satisfied not only with the product but also with the fast and excellent support.
                                </p>
                            </div>
                            <h3 class="title mt-4 mb-3 text-center">Herbert Riener</h3>
                            <p class="category text-center">
                                CEO
                            </p>
                            <p class="category text-center">
                                PITS
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="yellow-card">
                <div class="testimonials-card">
                    <div class="testimonials-card-inner">
                        <div class="testimonials-card-front bg-orange">
                            <div class="photo-container mt-5">
                                 <img src="../../../assets/img/tech_company.jpg" class="lazyload" alt="KirillTech Company">
                            </div>
                            <div class="testimonials-card-text">
                                <p class="permanent">
                                    Ksolves team is one of the professional teams in JavaScript and all their Odoo apps and  themes are amazing. Dashboard Ninja module is wonderful, I am happy to purchase their modules as there is always a supporting hand available from them after the purchase until the project is delivered successfully. So Thanks, All Ksolves Team Specially Shivani you are our Success Partners in Odoo Projects!
                                </p>
                            </div>
                            <h3 class="title mt-4 mb-3 text-center">KirillTech Company</h3>
                            <p class="category text-center"></p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>








<!-- End her Testimonials -->

<section class="bg-dark-gradient"   data-oe-xpath="/data/xpath/div/section[2]">
    <div class="container py-4 py-md-5">
        <h3 class="text-center text-theme-primary light font-40 mb-4 my-md-4 aos-init">Awards &amp; Accreditations</h3>
        <p class="text-center mb-5 font-16 text-light aos-init" >In our 8 years in the industry, we have built quite a reputation. Check out few of the awards and <br>recognitions we have gathered along the way.
        </p>
        <div id="owl-awards-sec" class="owl-carousel ks-owl-btn owl-loaded owl-drag">
            
        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1393px, 0px, 0px); transition: all 0s ease 0s; width: 5297px;"><div class="owl-item cloned" style="width: 263.75px; margin-right: 15px;"><div style="background: #FFFBF3" class="item award-logo">
                <a href="https://selectedfirms.co/companies/ios-app-development/usa" target="_blank">
                    <img src="../../../assets/img/selected-firms-mobile.png" class="lazyload" alt="Award Selected Firm Mobile">
                </a>
            </div></div><div class="owl-item cloned" style="width: 263.75px; margin-right: 15px;"><div style="background: #FFFBF3" class="item award-logo">
                <a href="https://salesforce.cioreviewindia.com/vendor/2018/ksolves" target="_blank">
                    <img src="../../../assets/img/award-salesforce.png" class="lazyload" alt="Salesforce Award">
                </a>
            </div></div><div class="owl-item cloned" style="width: 263.75px; margin-right: 15px;"><div style="background: #FFFBF3" class="item award-logo">
                <a href="https://www.topdevelopers.co/directory/mobile-app-developers/country/india" target="_blank">
                    <img src="../../../assets/img/award-top-developement.png" class="lazyload" alt="Top Development Award">
                </a>
            </div></div><div class="owl-item cloned" style="width: 263.75px; margin-right: 15px;"><div style="background: #FFFBF3" class="item award-logo">
                <img src="../../../assets/img/award-isv.png" class="lazyload" alt="Isv Award">
            </div></div><div class="owl-item cloned" style="width: 263.75px; margin-right: 15px;"><div style="background: #FFFBF3" class="item award-logo">
            <a href="https://selectedfirms.co/companies/node-js-development" target="_blank">
                <img height="140" src="../../../assets/img/selected-firms-ecommerce.png" class="lazyload" alt="Selected Firm Ecommerce">
            </a>
        </div></div><div class="owl-item active" style="width: 263.75px; margin-right: 15px;"><div style="background: #FFFBF3" class="item award-logo">
                <img src="../../../assets/img/award-nse.png" class="lazyload" alt="NSE Award">
            </div></div><div class="owl-item active" style="width: 263.75px; margin-right: 15px;"><div style="background: #FFF6F6" class="item award-logo">
                <a href="https://www.goodfirms.co/company/ksolves-india-limited" target="_blank">
                    <img src="../../../assets/img/award-good-firm.png" class="lazyload" alt="Good Firm Award">
                </a>
            </div></div><div class="owl-item active" style="width: 263.75px; margin-right: 15px;"><div style="background: #F6FBFC" class="item award-logo">
                <img src="../../../assets/img/award-nasscom.png" class="lazyload" alt="Nasscom Award">
            </div></div><div class="owl-item active" style="width: 263.75px; margin-right: 15px;"><div style="background: #FFFBF3" class="item award-logo">
                <a href="https://www.siliconindia.com/ruby-on-rails-companies-2019/ksolves-catid-95-cid-773.html" target="_blank">
                    <img src="../../../assets/img/award-silicon.png" class="lazyload" alt="Silicon Award">
                </a>
            </div></div><div class="owl-item" style="width: 263.75px; margin-right: 15px;"><div style="background: #FFFBF3" class="item award-logo">
                <a href="https://selectedfirms.co/companies/ios-app-development/usa" target="_blank">
                    <img src="../../../assets/img/selected-firms-mobile.png" class="lazyload" alt="Award Selected Firm Mobile">
                </a>
            </div></div><div class="owl-item" style="width: 263.75px; margin-right: 15px;"><div style="background: #FFFBF3" class="item award-logo">
                <a href="https://salesforce.cioreviewindia.com/vendor/2018/ksolves" target="_blank">
                    <img src="../../../assets/img/award-salesforce.png" class="lazyload" alt="Salesforce Award">
                </a>
            </div></div><div class="owl-item" style="width: 263.75px; margin-right: 15px;"><div style="background: #FFFBF3" class="item award-logo">
                <a href="https://www.topdevelopers.co/directory/mobile-app-developers/country/india" target="_blank">
                    <img src="../../../assets/img/award-top-developement.png" class="lazyload" alt="Top Development Award">
                </a>
            </div></div><div class="owl-item" style="width: 263.75px; margin-right: 15px;"><div style="background: #FFFBF3" class="item award-logo">
                <img src="../../../assets/img/award-isv.png" class="lazyload" alt="Isv Award">
            </div></div><div class="owl-item" style="width: 263.75px; margin-right: 15px;"><div style="background: #FFFBF3" class="item award-logo">
            <a href="https://selectedfirms.co/companies/node-js-development" target="_blank">
                <img height="140" src="../../../assets/img/selected-firms-ecommerce.png" class="lazyload" alt="Selected Firm Ecommerce">
            </a>
        </div></div><div class="owl-item cloned" style="width: 263.75px; margin-right: 15px;"><div style="background: #FFFBF3" class="item award-logo">
                <img src="../../../assets/img/award-nse.png" class="lazyload" alt="NSE Award">
            </div></div><div class="owl-item cloned" style="width: 263.75px; margin-right: 15px;"><div style="background: #FFF6F6" class="item award-logo">
                <a href="https://www.goodfirms.co/company/ksolves-india-limited" target="_blank">
                    <img src="../../../assets/img/award-good-firm.png" class="lazyload" alt="Good Firm Award">
                </a>
            </div></div><div class="owl-item cloned" style="width: 263.75px; margin-right: 15px;"><div style="background: #F6FBFC" class="item award-logo">
                <img src="../../../assets/img/award-nasscom.png" class="lazyload" alt="Nasscom Award">
            </div></div><div class="owl-item cloned" style="width: 263.75px; margin-right: 15px;"><div style="background: #FFFBF3" class="item award-logo">
                <a href="https://www.siliconindia.com/ruby-on-rails-companies-2019/ksolves-catid-95-cid-773.html" target="_blank">
                    <img src="../../../assets/img/award-silicon.png" class="lazyload" alt="Silicon Award">
                </a>
            </div></div><div class="owl-item cloned" style="width: 263.75px; margin-right: 15px;"><div style="background: #FFFBF3" class="item award-logo">
                <a href="https://selectedfirms.co/companies/ios-app-development/usa" target="_blank">
                    <img data-src="../../../assets/img/selected-firms-mobile.png" class="lazyload" alt="Award Selected Firm Mobile">
                </a>
            </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
    </div>

</section>

<!-- End here award -->